<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planta Baja</title>
    <link rel="icon" href="../assets/pb-logo.jpg" />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/fondopb.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/8bedfba391.js"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/fondo.js"></script>
  </head>
  <body>
    <header class="header">
      <a href="../views/index.html" class="header-title">
        <h2>Fondo planta baja</h2>
      </a>
    </header>
    <main class="body">
      <div class="upperContainer">
        <div class="tableContainer"></div>
        <div class="tableContainer2"></div>
      </div>
      <div class="tableContainer3"></div>
      <div class="payment">
        <h3>Metodos de pago</h3>
        <div class="payment-methods">
          <h4>Pago en efectivo</h4>
          <p>Victoria</p>
          <h4>Transferecia</h4>
          <p>CVU: 2324975286563888321813</p>
          <p>Alias: 65638883.UALA</p>
        </div>
      </div>
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2022. All rights reserved</p>
    </footer>
  </body>
</html>
