<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planta Baja</title>
    <link rel="icon" href="../assets/pb-logo.jpg" />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/grupos.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/8bedfba391.js"
      crossorigin="anonymous"
    ></script>
    <script src="../javascript/grupos.js"></script>
  </head>

  <body>
    <header class="header">
      <a href="../views/index.html" class="header-title">
        <h2>Limpieza General</h2>
      </a>
    </header>
    <main class="body">
      <section class="information">
        <h2>Informacion</h2>
        <p>
          El principal proposito de la limpieza semanal es la de mantener los
          espacios comunes.
        </p>
        <p>
          Dicha limpieza se realiza en grupos, donde cada grupo se encarga de
          dividirse y organizarse para poder limpiar todos los espacios comunes.
        </p>
        <p>El grupo encargado debera encargarse tambien de:</p>
        <ul>
          <li>Limpiar los espacios comunes</li>
          <li>Comprar los elementos de limpieza (si es que hay faltantes)</li>
          <li>
            Comunicar a los demas en caso de no poder cumplir con la misma
          </li>
        </ul>
        <p id="message"></p>
      </section>
      <section class="groups">
        <div id="first" class="group">
          <h3>Grupo 1</h3>
          <ul>
            <li>Braedon</li>
            <li>Enrique</li>
            <li>Angeline</li>
            <li>Cristopher</li>
          </ul>
        </div>
        <div id="second" class="group">
          <h3>Grupo 2</h3>
          <ul>
            <li>Julio</li>
            <li>Mati</li>
            <li>Victoria</li>
          </ul>
        </div>
        <div id="third" class="group">
          <h3>Grupo 3</h3>
          <ul>
            <li>Roy</li>
            <li>Lydia</li>
            <li>Marely</li>
          </ul>
        </div>
      </section>
      <!-- <section class="planoPB">
        <img href="">
        </section>
        <section class="stock">
        </section> -->
    </main>
    <footer class="footer">
      <p>Copyright &copy; 2022. All rights reserved</p>
    </footer>
  </body>
</html>
