<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planta Baja</title>
    <link rel="icon" href="../assets/pb-logo.jpg" />
    <link rel="stylesheet" type="text/css" href="../styles/reset.css" />
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="../styles/header.css" />
    <link rel="stylesheet" type="text/css" href="../styles/landing.css" />
    <link rel="stylesheet" type="text/css" href="../styles/footer.css" />
    <script
      src="https://kit.fontawesome.com/8bedfba391.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <a class="header-title">
        <h2>Planta Baja</h2>
      </a>
    </header>
    <body>
      <section class="container">
        <div class="section">
          <div class="card">
            <img
              src="../assets/frente.png"
              alt="Foto Frente"
              class="card-img"
            />
          </div>
          <ul class="list">
            <li class="list-li">
              <a href="../views/fondopb.html">Fondo</a>
            </li>
            <li class="list-li">
              <a href="../views/limpieza-diaria.html">Calendario de limpieza</a>
            </li>
            <li class="list-li">
              <a href="../views/grupospb.html">Grupos de limpieza</a>
            </li>
          </ul>
        </div>
      </section>
    </body>
    <footer class="footer">
      <p>Copyright &copy; 2022. All rights reserved</p>
    </footer>
  </body>
</html>
